<div class="row text-center justify-content-center">
    <h1 class="col-md-8 text-info">
        Sorry, you have reached a dead end.
    </h1>
    <hr />
    <a class="btn btn-outline-success col-md-2" asp-controller="Movies" asp-action="Index">Go to Home</a>
</div>